nav 
{
    margin-top: 0.5em;
    display: flex;
}

body
{
    margin: 0em;
}

h1
{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    font-family: Arial;
}
header
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color : rgb(0, 100, 255);
    color: white;
}

header a
{
    color: white;
    text-decoration: none;
}

footer
{
    font-family: arial;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    background-color:  rgb(238, 238, 238);
    color: rgb(0, 102, 255);
    position: fixed;
    bottom: 0em;
    left: 0em;
    right: 0em;
}
.info
{
    float: left;
    height: 100%;
    width: 15%;
    color: white;
    background-color : rgb(0, 120, 255);   
    font-family: Arial;
    text-align: center;
} 

.info img
{
    width: 50%;
}


.info strong
{
    display: block;
    margin-top: 1em;
    font-size: 2em;
}

table
{
    font-size: 1em;
    font-family: Arial;
}

table thead 
{
    background-color : rgb(220, 220, 220); 
}


table th
{
    padding-left: 2em;
    padding-right: 2em;
}

#main
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height:500px;
}
