.messagebox
{
    font-family: Arial;
    color: rgb(0, 100, 255);
    border-style: solid;
    border-width: 1px;
    text-align: center;
  position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 20%;
     height: 6%; 
     font-size: 1em;
}
.messagebox strong
{
display: block;
}
.messagebox img
{
    max-width: 100%;
    max-height: 100%;
    float: left;
}
