.tuile
{
    background-color: rgb(0, 100, 255);
    width: 20em;
    height: 20em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: Arial;
    text-align: center;
}

.tuile a
{
    color: white;
    text-decoration: none;
}

.tuile strong
{
    display: block;
    padding-top: 1em;
    font-size: 2em;
}

.tuile img
{
    width: 10em;
}